<div class="container-sm logInForm">

    <form action="/logIn" method="POST" class="form">
        <p class="form-title">Sign in to your account</p>
        <div class="input-container">
            <input type="email" placeholder="Enter email" name="userEmail" required>
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Enter password" name="userPassCode">
        </div>
        <button type="submit" class="submit">
            Sign in
        </button>

        <p class="signup-link">
            No account?
            <a href="user/createAccount">Sign up</a>
        </p>
        <!-- <input type="email" name="userEmail" placeholder="Your email">
        <input type="password" name="userPassCode" placeholder="Your password">
        <input type="submit"> -->

    </form>

    <!-- <div class="createLink">
        <span> Not a user? <a href="user/createAccount"> Create</a></span>
    </div> -->
</div>